@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Spicy+Rice&display=swap');


body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #005219;
    display: flex;
    flex-direction: column;
    gap: 50px;
}